.photo-profil{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.profile-picture img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    
}
.edit-icon{
    border: none;
    background-color: transparent;
}
.user-name{
    display: flex;
    align-items: center;
    gap: 16px;
}
.username-display span {
    font-size: 36px;
}