.btn-calendar-publish {
    display: flex;
    border-radius: 16px;
    background-color: white;
    align-items: center;
    width: 296px;
    height: 57px;
    border: none;
    justify-content: flex-start;
    padding-left: 1.2rem;
}

.calendar-grey {
    padding-right: 2.1rem;
}

.formPublish-contenant {
    display: grid;
    justify-items: center;
    gap: 24px;
    margin-bottom: 64px;
    margin-top: 32px;
}

.depart-publish,
.destination-publish {
    display: flex;
    border-radius: 16px;
    background-color: white;
    align-items: center;
    width: 296px;
    height: 57px;
    justify-content: space-around;
    border: none;
}

.submit-envoi {
    font-weight: normal;
    top: 625px;
}

.town-choice,
.time-choice {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.time-trajet {
    display: flex;
    flex-direction: column;
    padding-left: 5.5rem;
    align-items: flex-start;
    justify-content: center;
    width: 296px;
    height: 103px;
    border-radius: 16px;
    background-color: white;
    border: none;
}

.contenant-bottom {
    display: flex;
}

.departure,
.arrived {
    border: none;
    display: flex;
    justify-content: center;
}

#cheese-select {
    font-family: "Tilt Warp";
    font-size: 15px;
}

.cheese-gr {
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.choice-cheese {
    display: flex;
    flex-direction: column;
    height: 126px;
    width: 296px;
    border-radius: 16px;
    background-color: white;

}

.choice-contenant-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1B998B;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding: 2%;
    color: white;
    flex-basis: 25%;
}

.choice-contenant-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex-basis: 75%;
}

.weight-cheese {
    width:70%;
}

@media (max-width: 768px) {
    .formPublish-contenant {
        display: flex;
        flex-direction: column;
        padding: 1%;
    }

    .choice-contenant-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:10%;
    }

    .town-choice,
    .time-choice {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .animationCar {
        display: none;
    }

    .contenant-bottom {
        display: flex;
        justify-content: center;
    }

    .btn-submit {
        margin-top:1.5rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}