.carousel-wrapper {
    position: relative;
    overflow: hidden;
    padding: 10px 40px;
}

.carousel-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
}
.carousel-container::-webkit-scrollbar {
    display: none; /* Chrome */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(245, 196, 92, 0.8);
    border: none;
    font-size: 30px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
}
.carousel-button.left {
    left: 10px;
}
.carousel-button.right {
    right: 10px;
}
