.home-image img{
    width: 100%;
    object-fit: cover;
}
.home-contenant{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-conteneur{
    margin-top: 7rem;
    display: flex;
    gap: 5%; 
    font-weight: normal;
}
.carnew-component{
    background-color: #1B998B;
    width: 100%;
}
.title{
    font-family: 'Kanopi Brazil', sans-serif;
    font-weight: 200;
    font-size: 40px;
    color: white;
}

.carnew-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}
.card-bloq{
    display: flex   ;
    justify-items: center;
    padding-bottom: 5rem;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.banner-text{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-bottom: 7%;
    padding-top: 7%;
}
.gifaccueil{
    font-family: 'Kanopi Brazil',sans-serif;
    font-size: 60px;
}
@media (max-width: 768px){
    .card-conteneur{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .banner-text{
        margin-top: 52px;
        display: flex;
        flex-direction: column;
    }
}