.contenant-title{
    color: #F5c45c;
    font-size: 24px;
}
.contenant-choice{
    display: flex;
    align-items: center;
    gap: 5px;
}
.profilCheckBox-contenant{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.profilCheckBox-title{
    font-size: 26px;
    color: #f7753D;
}