.compte-contenant-card {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
.choixProfil-contenant{
    grid-column: 1;
    grid-row: 2;
}
.myCar-contenant{
    grid-column: 2;
    grid-row: 3;
}