.form-connexion-contenant{
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 73px;
}
.btn-connexion{
    width: 132px;
    height: 65px;
    background-color: #f7753D;
}
.envoi{
    display: flex;
    justify-content: center;
}
.email::placeholder{
    color: black;
}
.error-message {
    color: white;
}

.form-control-connect, .form-control-connect::placeholder{
    font-family: "Tilt Warp", sans-serif;
    padding-left: 10px;
}
