.form-connexion-contenant{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.btn-connexion{
    width: 132px;
    height: 65px;
    background-color: #f7753D;
}
.envoi{
    display: flex;
    justify-content: center;
}
.email ::placeholder{
    color: black;
}